@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");body,html {
  font-family: Roboto Mono,Monaco,Menlo,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #595959;
  background-color: #fff;
  word-wrap: break-word
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #3273dc
}

.article {
  cursor: pointer;
}

.comment {
  filter: drop-shadow(1px 1px 3px rgba(0,0,0,.15));
  background-color: #f9f9f9;
}

.comment:hover {
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,.2))
}

.comment {
  margin: 2%;
  padding: 2%;
  border: 1px solid #cacaca;
  flex-grow: 1
}

.comment p {
  margin: 0
}

@media screen and (min-width: 400px) {
  body {
    font-size: .85em
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: .9em
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 1em
  }
}
